{% extends 'base.html' %}

{% load crispy_forms_filters %}

{% block title %} Login {% endblock %}

{% block content %}
    <div class="container">
        {% include 'navbar.html' %}
        <div class="center-form-container">
            <h4> Login </h4>
            <form method="post">
                {% csrf_token %}
                {{ form | crispy }}
                <a class="d-block my-3" href="{% url 'register' %}"> Don't have an account? Register here </a>
                <button class="btn btn-primary" type="submit"> Login </button>
            </form>
        </div>
    </div>

{% endblock %}