{% extends 'base.html' %}
{% load crispy_forms_filters %}

{% block title %} Change password {% endblock %}

{% block content %}
    <div class="container">
    {% include 'navbar.html' %}
    <form method="post">
        {% csrf_token %}
        {{ form | crispy }}
        <input class="btn btn-primary" type="submit" value="Submit">
    </form>
    </div>
{% endblock %}