{% extends 'base.html' %}
{% load i18n %}
{% load crispy_forms_filters %}

{% block title %} Profile {% endblock %}

{% block content %}
    <div class="container">
        {% include 'navbar.html' %}
        <h2> Change your profile </h2>
        <form method="post" enctype="multipart/form-data" class="py-2">
            {% csrf_token %}
            {{ form | crispy }}
            <p> You can change the password <a href="{% url 'change-password' %}"> here</a>.</p>
            <button class="btn btn-primary"> {% trans 'Submit' %} </button>
        </form>
        {% if user.bidder.is_seller %}
            {% if not user.bidder.has_ratings %}
                <h2>You haven't any rating yet.</h2>
            {% else %}
                <p>Some user has rated you. Click <a href="{% url 'reviews' user.bidder.id %}"> here </a> for more details</p>
            {% endif %}
        {% endif %}
    </div>
{% endblock %}