{% extends 'base.html' %}

{% load crispy_forms_filters %}

{% block title %} Register {% endblock %}

{% block content %}
    <div class="container">
        {% include 'navbar.html' %}
        <div class="center-form-container">
            <form method="post">
                {% csrf_token %}
                {{ form | crispy }}
                <button class="btn btn-primary" type="submit"> Register </button>
            </form>
        </div>
    </div>

{% endblock %}