{% extends 'base_auction_preview.html' %}

{% block card %}
    <div class="col mb-4 d-flex align-content-stretch">
        <div class="card">
            <img class="card-img-top" src="{{ auction.product_image.url }}" alt="Bid image">
            <div class="card-body d-flex flex-column">
                <h5 class="card-title"> {{ auction.name }}</h5>
                <p class="card-text"> It starts <strong class="auction-start"> {{ auction.date_start | date:"M d, Y h:m:s" }} </strong> </p>
                <p class="card-text"> It ends <strong class="auction-end"> {{ auction.date_end | date:"M d, Y h:m:s" }} </strong> </p>
                <p class="card-text"> <strong class="count-down-time"> n/a </strong> </p>

                <p class="card-text"> Category <strong> {{ auction.get_category_display }} </strong> </p>
                {% with auction.last_bidder as bidder  %}
                    {% if bidder %}
                        <p class="card-text"> <strong> {{ auction.last_bidder }} </strong> bid <strong>  {{ auction.total }} </strong> </p>
                    {% else %}
                        {% if not auction.pending%}
                                <p class="card-text"> <strong> Nobody bid for this auction! </strong> </p>
                        {% else %}
                            <p class="card-text"> <strong> Thi auction needs to be approved! </strong> </p>
                        {% endif %}
                    {% endif %}
                    <a href="{% url 'auction-detail' auction.pk %}" class="btn btn-primary mt-auto
                        {% if auction.expired or auction.pending or not auction.has_started %} disabled {% endif %}"
                    > {% if auction.expired %} Auction ended {% else %} Start bidding! {% endif %} </a>
                {% endwith %}
            </div>
        </div>
    </div>
{% endblock %}