{% extends 'base_auction_preview.html' %}


{% block card-body %}
    <h5 class="card-title"> {{ auction }}</h5>
    <p class="card-text"> It starts <strong class="auction-start"> {{ auction.date_start | date:"M d, Y h:m:s" }} </strong> </p>
    <p class="card-text"> It ends <strong class="auction-end"> {{ auction.date_end | date:"M d, Y h:m:s" }} </strong> </p>
{% endblock %}
{% block card-button %}
    <a href="{% url 'auction-chat' auction.id %}" class="btn btn-primary {% if auction.has_started %} disabled {% endif %}"> Chat </a>
{% endblock %}