{% block card %}
    <div class="col mb-4 d-flex align-content-stretch">
        <div class="card">
            <img class="card-img-top" src="{{ auction.product_image.url }}" alt="Bid image">
            <div class="card-body d-flex flex-column">
                {% block card-body %}
                {% endblock %}
                {% block card-footer %}
                    {% block card-button %}
                    {% endblock %}
                {% endblock %}
            </div>
        </div>
    </div>
{% endblock %}