{% extends 'base.html' %}
{% load static %}

{% block title %} Ratings {% endblock %}

{% block content %}
    {% include 'alert_message.html' %}
    <div class="container">
        {% include 'navbar.html' %}
        {% if object_list %}
            <h1> Reviews for {{ object_list.0.auction.seller }} with average of {{ object_list.0.auction.seller.average_ratings.vote__avg }}</h1>
            {% for rating in object_list %}
            <div class="card mb-3">
                <div class="card-body">
                    <div class="user">
                        <a href="{% url 'reviews' rating.bidder_rating.pk %}" class="text-decoration-none">
                        {% if rating.bidder_rating.user.avatar_user.avatar %}
                            <img src="{{  rating.bidder_rating.user.avatar_user.avatar.url }}" alt="mdo" width="32" height="32" class="rounded-circle">
                        {% else %}
                            <img src="{% static 'images/account.png' %}" alt="mdo" width="32" height="32" class="rounded-circle">
                        {% endif %}
                        <h5 class="card-title mb-2 text-muted d-inline"> {{ rating.bidder_rating }}</h5>
                        </a>
                    </div>
                    <h5 class="card-title">{{ rating.title }}</h5>
                    <h6 class="card-subtitle mb-2 text-muted d-inline"> vote: {{ rating.vote }} / 5</h6>
                    <p class="card-text"> {{ rating.description }}</p>
                    <a href="{% url 'auction-detail' rating.auction.pk %}" class="card-link"> {{ rating.auction }}</a>
                        {% if rating.bidder_rating == user.bidder %}
                        <a href=" {% url 'review-update' rating.pk %}" class="card-link"> Edit </a>
                       {% endif %}
                </div>
            </div>
            {% endfor %}
        {% else %}
            <h1> Nobody rated this user</h1>
        {% endif %}
    </div>
{% endblock %}

{% block footer %}
    {% include 'pagination.html' %}
{% endblock%}