{% extends 'base.html' %}

{% load crispy_forms_filters %}

{% block title %} Leave rating {% endblock %}

{% block content %}
    <div class="container">
        {% include 'navbar.html' %}
        <h1> Update your feedback </h1>
        <form method="post">
            {% csrf_token %}
            {{ form | crispy }}
            <input class="btn btn-primary" type="submit" value="Submit">
        </form>
    </div>

{% endblock %}