{% load static %}

{% block card %}
    <div class="card m-3">
        <img class="card-img-top" src="{{ card.image.url }}" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title"> {{ card.title }}</h5>
            <p class="card-text">{{ card.price }} € and get <strong> {{ card.coins }}</strong> coins! </p>
            <a href="{% url 'bundle-purchase' card.id %}?purchase_id={{ card.bundle_uuid }}" class="btn btn-primary"> Shop now! </a>
        </div>
    </div>
{% endblock %}