{% extends 'base.html' %}

{% block title %} Approve {% endblock %}

{% block content %}
    <div class="container">
        {% include 'navbar.html' %}
        <h1> Your pending requests</h1>
        <h5> Add a new one <a class="h5" href="{% url 'sell' %}"> here </a></h5>
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5">
            {% for auction in object_list %}
                {% include 'auction_pending_preview.html' %}
            {% endfor %}
        </div>

    </div>
{% endblock %}

{% block footer %}
    {% include 'pagination.html' %}
{% endblock %}