{% extends 'base.html' %}

{% load crispy_forms_filters %}
{% load auction_search_filters %}

{% block title %} Auction room {% endblock %}

{% block content %}
    <div class="container">
        {% include 'navbar.html' %}
        {% include 'alert_message.html' %}
        {% if object.pending %}
            <h1> This auction needs to be approved first!</h1>
        {% elif object.expired %}
            <h1> This auction has ended!</h1>
        {% else %}
            <h1> Welcome to this bidding room!</h1>
        {% endif %}
            <h2> Seller: <a href="{% url 'reviews' object.seller.id %}">{{ object.seller }} </a></h2>
            {% if not user.bidder %}
                <h2> First time? Start now!</h2>
            {% else %}
                <h2> You now have <span class="total-coins">{{ user.bidder.balance }} </span> coins!</h2>
                {% has_offered user.bidder object as offered %}
                {% if offered %}
                    {% auction_last_offer user.bidder object as user_last_offer %}
                    <h2> Last offer was of <span class="last-bid">  {{ user_last_offer.amount }} </span></h2>
                {% endif %}
            {% endif %}
            <h3> Current item: <strong> {{ object.name }} </strong></h3>
            <h3> Total: <strong class="total-amount"> {{ object.total }} </strong></h3>
            <img class="auction-image" src="{{ object.product_image.url }}" alt="Auction image">
            {% with object.last_bidder as last_bidder %}
                {% if last_bidder %}
                    <p> Last bidder: <strong class="last-bidder"> {{ object.last_bidder }}</strong></p>
                {% else %}
                    <p> Nobody bid yet!</p>
                {% endif %}
            {% endwith %}
            <p class="auction-end visually-hidden"> {{ object.date_end | date:"M d, Y h:m:s" }} </p>
            <p> Remaining time <strong class="count-down-time"> n/a </strong></p>
            <p> Description: {{ object.description }}</p>
            <form method="post">
                {% csrf_token %}
                {{ form | crispy }}
                <button id="send-bid" type="submit" class="btn btn-primary"> Send bid</button>
            </form>
            <ul id="bidders-list" class="list-group my-3 bids-container">
                {% for bid in object.auction_bids.all %}
                    <li class="list-group-item">
                        {% if bid.user_bid.user_id == user.id %}
                            You
                        {% else %}
                            {{ bid.user_bid }}
                        {% endif %}
                        bid {{ bid.amount }} </li>
                {% endfor %}
            </ul>
    </div>
    <script>
        const room = {{ object.pk }} ;
        const currentUser = '{{ user }}';
    </script>
{% endblock %}
{% block script %}

{% endblock %}
