{% extends 'base.html' %}
{% load i18n %}

{% load crispy_forms_filters %}

{% block title %} Sell {% endblock %}

{% block content %}
    <div class="container">
        {% include 'navbar.html' %}
        <h1> Add a new product </h1>
        <h5> See product already submitted <a class="h5" href="{% url 'sell-pending' %}"> here </a> </h5>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form | crispy }}
        <button class="btn btn-primary"> {% trans 'Submit' %} </button>
        </form>

    </div>
{% endblock %}