{% extends 'base.html' %}

{% load static %}
{% load crispy_forms_filters %}

{% block title %} Chat {% endblock %}

{% block content %}
    <div class="container">
        {% include 'navbar.html' %}
        {% include 'alert_message.html' %}
        <h1> Chat for auction {{ object.name }} </h1>
        {% with object.messages.all as messages  %}
            <div class="chat-box">
                {% if messages %}
                    <div class="chat-container">
                        <ul id="chat-message-list" class="list-group my-3">
                            {% for message in object.messages.all %}
                                <li class="list-group-item">{{ message.sender }}: {{ message }} </li>
                            {% endfor %}
                        </ul>
                    </div>
                {% else %}
                    <h4 id="no-message-error"> No messages found</h4>
                    <div class="chat-container">
                        <ul id="chat-message-list" class="list-group my-3"></ul>
                    </div>
                {% endif %}
            </div>
            <form method="post">
                {% csrf_token %}
                {{ form | crispy }}
                <button id="send-message" type="submit" class="btn btn-primary"> Send message </button>
            </form>
        {% endwith %}


    </div>
        <script>
            const chatRoom = {% if object %} {{ object.pk }} {% else %} null {% endif %};
            const userId = '{{ user.id }}'
        </script>
{% endblock %}
{% block script %}
     <script src="{% static 'script/chat.js' %}"></script>
{% endblock %}