{% extends 'base.html' %}

{% load crispy_forms_filters %}
{% load auction_search_filters %}

{% block title %} History {% endblock %}

{% block content %}
    <div class="container">
        {% include 'navbar.html' %}
        {% include 'alert_message.html' %}
        <form>
            {{ form | latest_search:last_search | crispy }}
            <input type="submit" class="btn btn-primary" value="Submit">
        </form>
        <h1> Your auctions </h1>
        {% if object_list %}
            <table class="table">
                <thead>
                <tr>
                    <th scope="col"> Name </th>
                    <th scope="col"> Category </th>
                    <th scope="col"> Last bidder </th>
                    <th scope="col"> Won </th>
                    <th scope="col"> Status </th>
                    <th scope="col"> Feedback</th>
                    <th scope="col"> Pending</th>
                    <th scope="col"> Chat</th>
                    <th scope="col"> Owned </th>
                </tr>
                </thead>
                <tbody>
                {% for auction in object_list %}
                    <tr>
                        {% if auction.has_started and not auction.pending and not auction.expired %}
                            <td scope="row"> <a href="{% url 'auction-detail' auction.pk %}"> {{ auction }} </a>  </td>
                        {% else %}
                            <td scope="row"> {{ auction }} </td>
                        {% endif %}
                        <td> {{ auction.get_category_display }} </td>
                        <td> {% if not auction.last_bidder %} Nobody bid {% else %} {{ auction.last_bidder }} {% endif %} </td>
                        <td> {% if auction.last_bidder == user.bidder and auction.expired %} Yes {% else %} No {% endif %}</td>
                        <td>
                            {% if auction.expired %}
                                End
                            {% elif auction.has_started %}
                                {% if auction.pending %}
                                    Cannot start
                                {% else %}
                                    In progress
                                {% endif %}
                            {% else %}
                                Will begin
                            {% endif %}</td>
                        <td> {% if auction.last_bidder == user.bidder and auction.expired %}
                            {% if auction.rating %}
                                <a href="{% url 'reviews' auction.seller.pk %}">See feedbacks</a>
                            {% else %}
                                <a href="{% url 'review-create' auction.pk %}">Send feedback</a>
                            {% endif %}</td>
                        {% endif %}
                        <td>
                            {% if auction.pending %}
                                {% if auction.expired %}
                                    <span>No</span>
                                {% elif auction.has_started %}
                                    <span>Yes</span>
                                {% else %}
                                    <a href="{% url 'auction-chat' auction.id %}"> Yes (chat) </a>
                                {% endif %}
                            {% else %}
                                <span>No</span>
                            {% endif %}
                        </td>
                        <td>
                            {% if auction.seller.user == user %}
                                <a href="{% url 'auction-chat' auction.id %}"> Chat </a>
                            {% endif %}
                        </td>
                        <td>
                            {% if auction.seller.user == user %}
                                 Yes
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>

            </table>
        {% else %}
            <h2> You have nothing to show </h2>
        {% endif %}
    </div>
{% endblock %}

{% block footer %}
    {% include 'pagination.html' %}
{% endblock %}