{% extends 'base.html' %}
{% load crispy_forms_filters %}

{% block title %} Chat {% endblock %}

{% block content %}
    <div class="container">
        {% include 'navbar.html' %}
        {% include 'alert_message.html' %}
        {% if not object.pending %}
            <h1> This auction is already approved!</h1>
        {% else %}
            <h1> Approve this auction!</h1>
            <h2> Seller: {{ object.seller }}</h2>
            <h3> Current item: <strong> {{ object.name }} </strong> </h3>
            <p> Start: <strong class=""> {{ object.date_start | date:"M d, Y h:m:s" }} </strong> </p>
            <p> End: <strong class="auction-end">{{ object.date_end | date:"M d, Y h:m:s" }} </strong></p>
            <p> Category: <strong class="auction-end">{{ object.get_category_display }} </strong></p>
            <p> Description: <strong class="auction-end">{{ object.description }} </strong></p>

            <img class="auction-image" src="{{ object.product_image.url }}" alt="Auction image">
            {% if object.expired %}
                <h4 class="pt-3"> This auction has ended, so it can't be approved!</h4>
            {% else %}
                <form method="post" class="my-3">
                    {% csrf_token %}
                    {{ form | crispy }}
                    <button id="send-bid" type="submit" class="btn btn-primary
                        {% if object.has_started %} disabled {% endif %}
                        "> Approve </button>
                </form>
            {% endif %}
        {% endif %}
    </div>
{% endblock %}