{% extends 'base.html' %}

{% load crispy_forms_filters %}
{% load auction_search_filters %}

{% block title %} Auctions {% endblock %}

{% block content %}
    <div class="container">
        {% include 'navbar.html' %}
        <form class="my-2">
            {% if last_search %}
                {{ form | latest_search:last_search | crispy }}
            {% else %}
                {{ form | crispy }}
            {% endif %}
            <input type="submit" class="btn btn-primary" value="Submit">
            <a class="btn btn-primary" href="{% url 'auction-list' %}"> Reset </a>
        </form>
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5">
            {% for auction in object_list %}
                {% include 'auction_preview.html' %}
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block footer %}
    {% include 'pagination.html' %}
{% endblock %}