{% extends 'base.html' %}
{% load crispy_forms_filters %}

{% block title %} Chat {% endblock %}

{% block content %}
    <div class="container">
        {% include 'navbar.html' %}
        {% include 'alert_message.html' %}
        <form>
            {{ form | crispy }}
            <input type="submit" class="btn btn-primary" value="Submit">
        </form>
        {% if not object_list %}
            <h1>Nobody sent a message</h1>
        {% else %}
            <h1>Your chats:</h1>
            <div>
                {% for chat in object_list %}
                    <div class="card mb-3">
                        <div class="card-body">
                            <div class="chat">
                                <a href="{% url 'auction-detail' chat.pk %}" class="text-decoration-none">
                                    <img src="{{  chat.product_image.url }}" alt="mdo" width="32" height="32" class="rounded-circle">
                                </a>
                                <h5 class="card-title mb-2 text-muted d-inline"> {{ chat }}</h5>

                            </div>
                            <p class="card-text"> {{ chat.description }}</p>
                            <a href="{% url 'auction-chat' chat.id %}" class="card-link"> Go to chat </a>
                            {% if chat.pending and not chat.has_started and not chat.expired %}
                                <a href="{% url 'auction-approve' chat.id %}" class="card-link"> Approve </a>
                            {% endif %}
{#                            <h5 class="card-title">{{ rating.title }}</h5>#}
{#                            <h6 class="card-subtitle mb-2 text-muted d-inline"> vote: {{ rating.vote }} / 5</h6>#}
                            <p class="card-text"> {{ rating.description }}</p>
{#                            <a href="{% url 'auction-detail' rating.auction.pk %}" class="card-link"> {{ rating.auction }}</a>#}
{#                            {% if rating.bidder_rating == user.bidder %}#}
{#                                <a href=" {% url 'review-update' rating.pk %}" class="card-link"> Edit </a>#}
{#                            {% endif %}#}
                        </div>
                    </div>
{#                    <li class="list-group-item">{{ chat }}#}
{#                        <a href="{% url 'auction-chat' chat.id %}"> Go to chat </a>#}
{#                        {% if chat.pending %}#}
{#                            <a href="{% url 'auction-approve' chat.id %}"> Approve </a>#}
{#                        {% endif %}#}
{#                    </li>#}
                {% endfor %}
            </div>
        {% endif %}
    </div>
{% endblock %}

{% block footer %}
    {% include 'pagination.html' %}
{% endblock %}