{% extends 'base.html' %}

{% block title %} Bundles {% endblock %}

{% block content %}

    <div class="container">
        {% include 'navbar.html' %}
        {% if not object %}
            <h1> Whoops! Something went wrong with payment...</h1>
            <a class="btn btn-primary" href="{% url 'bundle-view' %}"> Try again </a>
        {% else %}
        <h1> Thank you! </h1>
        <h2> You have purchases <strong>{{ object.coins }} </strong> coins!</h2>
        {% endif %}
    </div>

{% endblock %}