{% extends 'base.html' %}

{% block title %} Bundles {% endblock %}

{% block content %}
    <div class="container">
        {% include 'navbar.html' %}
        <h1> Purchase one of the possible bundles</h1>
        <div class="card-group">
            {% for card in object_list %}
                {% include 'boundle_card.html' %}
            {% endfor %}
        </div>
    </div>
{% endblock %}