html, body {
    height: 100%;
    margin: 0;
}

.messages-container {
    width: 50%;
    position: fixed;
    left: 50%;
    top: 100%;
    z-index: 10;
    transform: translate(-50%, -100%);
}

#alert-template > * {
    visibility: hidden;
}

.center-form-container {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.bids-container {
    height: 250px;
    overflow: auto;
}

.chat-container {
    height: 500px;
    overflow: auto;
}

.content {
    min-height: 100%;
}

.container {
    padding-bottom: 55px;
}

.footer {
    height: 55px;
    margin-top: -55px;
}

.alert-template-message-container{
    position: absolute;
}

.auction-image {
    width: 500px;
}