{% extends 'base.html' %}

{% block title %} 404 {% endblock %}

{% block content %}
    <div class="container">
        {% include 'navbar.html' %}
        <h1> 404 page not found</h1>
    </div>
{% endblock %}