<div class="messages-container py3">
    {% if messages %}
        {% for message in messages %}
            <div class="alert
                    {% if message.tags == 'error' %}
                        alert-danger
                    {% else %}
                        alert-{{ message.tags }}
                    {% endif %}
            alert-dismissible fade show" role="alert">
                <strong> {{ message }} </strong>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
                </button>
            </div>
        {% endfor %}
{% endif %}
{#    {% else %}#}
    <div class="alert-template-message-container">
    <div id="alert-template" class="alert alert-dismissible fade hide hidden" role="alert">
        <strong id="alert-template-message"></strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
        </button>
    </div>
    </div>
{#    {% endif %}#}
</div>

