{% extends 'base.html' %}

{% block title %} Home {% endblock %}

{% block content %}
    {% include 'alert_message.html' %}
    <div class="container">
        {% include 'navbar.html' %}
        <h1> Welcome to name your price!</h1>
        <p> Top 10 trending auctions </p>
        {% if not object_list %}
            <h3> Sorry but temporarily the are no action to show</h3>
        {% endif %}
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5">
        {% for auction in object_list %}
            {% include 'auction_preview.html' %}
        {% endfor %}
        </div>
        <p> <a href="{% url 'auction-list' %}"> explore</a> for more!</p>

    </div>
{% endblock %}