{% load static %}

{% block navbar %}
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
        <a href="{% url 'home' %}" class="d-flex align-items-center col-md-auto mb-2 mb-md-0 text-dark text-decoration-none">
            Name your price
        </a>
        <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
            <li><a href="{% url 'home' %}" class="nav-link px-2 link-dark">Home</a></li>
            <li><a href="{% url 'auction-list' %}" class="nav-link px-2 link-dark">Auctions</a></li>
            <li><a href="{% url 'bundle-view' %}" class="nav-link px-2 link-dark">Buy coins</a></li>
            {% if user.is_authenticated %}
                {% if user.bidder %}
                    <li><a href="{% url 'bundle-view' %}" class="nav-link px-2 link-dark"> Coins:
                        <span class="total-coins">{{ user.bidder.balance }}</span> </a></li>
                {% elif user.purchase %}
                    <li><a href="{% url 'bundle-view' %}" class="nav-link px-2 link-dark"> Coins:
                        <span class="total-coins">{{ user.purchase.coins }}</span> </a></li>
                {% endif %}
            {% endif %}
        </ul>

        {% if user.is_authenticated %}
            <div class="flex-shrink-0 dropdown">
                <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" id="dropdownUser2" data-bs-toggle="dropdown" aria-expanded="false">
                    {% if user.avatar_user.avatar %}
                        <img src="{{  user.avatar_user.avatar.url }}" alt="mdo" width="32" height="32" class="rounded-circle">
                    {% else %}
                        <img src="{% static 'images/account.png' %}" alt="mdo" width="32" height="32" class="rounded-circle">
                    {% endif %}
                </a>
                <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownUser2" data-popper-placement="top-end" style="position: absolute; inset: auto auto 0 0; margin: 0; transform: translate(-110px, -34px);">
                    <li><a class="dropdown-item" href="{% url 'profile' %}">Profile ({{ user }})</a></li>
                    {% if user.is_staff %}
                        <li><a class="dropdown-item" href="{% url 'auction-chat-list' %}"> Incoming messages</a></li>
                    {% endif %}
                    <li><a class="dropdown-item" href="{% url 'sell' %}">Sell</a></li>
                    <li><a class="dropdown-item" href="{% url 'history' %}">History</a></li>

                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="{% url 'logout' %}">Sign out</a></li>
                </ul>
            </div>
        {% else %}
            <div class="col-md-3 text-end">
            <a type="button" class="btn btn-outline-primary me-2" href="{% url 'login' %}">Login</a>
            <a type="button" class="btn btn-primary" href="{% url 'register' %}">Sign-up</a>
            </div>
        {% endif %}
    </header>
{% endblock %}