{% block pagination %}
    <div class="d-flex justify-content-center">
        <nav>
            <ul class="pagination">

                <li class="page-item {% if not page_obj.has_previous %} disabled{% endif %}">
                    <a class="page-link" href="?{{ query|default:'' }}&page=1" aria-label="First">
                        <span aria-hidden="true">&laquo;</span>
                        <span class="sr-only">First</span>
                    </a>
                </li>
                {% if page_obj.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?{{ query|default:'' }}&page={{  page_obj.previous_page_number }}">
                            <span class="sr-only">{{ page_obj.previous_page_number }}</span>
                        </a>
                    </li>
                {% endif %}
                <li class="page-item"><a class="page-link" href="?{{ query|default:'' }}&page={{ page_obj.number }}">{{ page_obj.number }}</a></li>
                {% if page_obj.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?{{ query|default:'' }}&page={{ page_obj.next_page_number }}" >
                            <span class="sr-only">{{ page_obj.next_page_number }}</span>
                        </a>
                    </li>
                {% endif %}

                <li class="page-item {% if not page_obj.has_next %} disabled{% endif %}" >
                    <a class="page-link" href="?{{ query|default:'' }}&page={{  page_obj.paginator.num_pages }}" aria-label="Last">
                        <span aria-hidden="true">&raquo;</span>
                        <span class="sr-only">Last</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
{% endblock %}